$primary-color : #F2F6FA;
$default-border: 1px solid #D2D8E6;
$default-border-radius: 4px;

.app-header {
    min-width: 100%;
    background-color: #222;
    height: 100px;
    color: #D2D8E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header {
    min-width: 1440px;
    background-color: $primary-color;
    border: $default-border;
    box-sizing: border-box;
    border-top: 0;
    display: flex;
    align-items: center;
    direction: rtl;
    .header-icon-container {
        margin-right: auto;
    }
    .icon-container {
        display: inline-block;
    }
    .header-text {
        color: #4C566C;
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
    }
    .button-text {
        color: #4C566C;
        font-size: 12px;
        font-weight:600;
    }
    .button-icon-container {
        width: 24px;
        height: 24px;
    }
}

.main-section {
    display: flex;
    min-width: 1440px;
    height: 100%;
    .section-navigation {
        min-width: 240px;
        height: auto;
        min-height: 100vh;
        background-color: #F2F6FA;
        border: $default-border;
        border-top: 0;
        display: inline-block;
        box-sizing: border-box;
    }
    .section-active-container {
        width: 100%;
        display: flex;
        justify-content: center;
        .section-active {
            margin: 20px 0;
            .section-active-header {
                width: 1160px;
                height: 60px;
                background-color: white;
                border: $default-border;
                box-sizing: border-box;
                border-top-left-radius: $default-border-radius;
                border-top-right-radius: $default-border-radius;
                display: flex;
                align-items: center;
                padding-right: 10px;
                position: relative;
                .section-active-header-name {
                    font-size: 13px;
                    color: #8293B9;
                }
                .search-bar {
                    margin-left: auto;
                    width: 400px;
                    height: 40px;
                    border: $default-border;
                    box-sizing: border-box;
                    border-radius: $default-border-radius;
                    font-size: 13px;
                    color: #B4BED5;
                    padding-left: 20px;
                }
                .maginifier-icon-container{
                    height: 60px;
                    display: flex;
                    align-items:center;
                    position: absolute;
                    right: 0px;
                    right: 27px;
                }
            }
        }
    }
}
